.nav-bar-container {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 60px;
    background-color: orange;
    padding: 0 20px;
  
    & a {
      font-weight: 500;
      font-size: 20px;
      text-decoration: none;
      color: black;
    }
  
    & a.active {
      border-bottom: 2px solid white;
      padding-bottom: 5px;
    }
  }